{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "prettier/@typescript-eslint",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "space-before-function-paren": 0,
    "semi": ["error", "never"],
    "@typescript-eslint/no-explicit-any": 0
  }
}
